/* Your existing styles */

#water,
#ice,
#fire {
  height: 200px;
  width: 200px;
  border: thick solid black;
  margin: 40px;
  border-radius: 60px;
  transition: border-color 0.3s, filter 0.3s;
}

#water:hover,
#ice:hover,
#fire:hover {
  border-color: blue;
  filter: brightness(70%);
}

#imgHolder {
  display: flex;
}

.title {
  font-size: 80px;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  border: thin solid red;
}

.results {
  font-size: 50px;
  opacity: 0; /* Initially hide the results */
  transition: opacity 0.3s ease; /* Apply a transition for opacity */
}
