.choices {
  height: 100px;
  width: 100px;
  border: thick solid black;
  margin: 40px;
  border-radius: 60px;
  transition: border-color 0.3s, filter 0.3s;
}

#waterPlayer:hover,
#icePlayer:hover,
#firePlayer:hover {
  border-color: blue;
  filter: brightness(70%);
}

.title {
  font-size: 80px;
  text-align: center;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  border: thin solid red;
}

.results {
  font-size: 50px;
  opacity: 0;
  transition: opacity 0.5s ease;
  height: 70px;
  width: 565px;
  margin-top: 20px;
  text-align: center;
}
